* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 2fr 8fr;
}

nav {
    background-color: rgb(63, 119, 224);
    color: white;
    padding: 1rem;
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 100px 300px 150px;
}

nav svg {
    fill: white;
}

nav ul {
    padding-left: 1rem;
}

nav ul svg {
    width: 25px;
}

nav a {
    display: grid;
    grid-template-columns: 40px 120px;
}

nav a p {
    align-self: center;
    font-size: 1.25rem;
    font-weight: 600;
}

.dashboard-title {
    display: grid;
    grid-template-columns: 50px 200px;
    gap: 10px;
}

.dashboard-title svg {
    width: 50px;
}

.dashboard-title h1 {
    padding-top: 0.5rem;
    font-size: 1.75rem;
}

.main-navigation,
.special-navigation {
    display: grid;
    gap: 0.75rem;
}

.main-navigation {
    grid-template-rows: repeat(6, 30px);
    height: 200px;
}

.special-navigation {
    grid-template-rows: repeat(3, 30px);
}

.main-navigation li,
.special-navigation li {
    list-style-type: none;
}

header {
    background-color: white;
    z-index: 1;
    box-shadow: 0 5px 5px lightgray;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

header svg {
    width: 25px;
}

.upper-header {
    display: grid;
    grid-template-columns: 7fr 3fr;
    gap: 3rem;
    height: 50px;
    padding: 1rem;
}

.searchbar-container {
    display: grid;
    grid-template-columns: 1fr 10fr;
    align-items: center;
    padding: 1rem;
}

header button {
    border: none;
    background-color: transparent;
    padding-right: 1rem;
}

header button:hover {
    cursor: pointer;
    opacity: 0.85;
}

.search-btn {
    justify-self: self-end;
}

.searchbar {
    border: none;
    border-radius: 20px;
    background-color: rgb(216, 221, 230);
    height: 30px;
    padding-left: 1rem;
}

.notif-container {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    align-items: center;
}

.notif-btn {
    justify-self: end;
    padding-right: 1rem;
}

.notif-container .profile-picture {
    justify-self: center;
}

.notif-container p {
    padding-left: 1rem;
}

.profile-picture {
    background-image: url(hedgehog.jpg);
    background-size: cover;
    border-radius: 50%;
    width: 50px;
    aspect-ratio: 1 / 1;
}

.lower-header {
    display: grid;
    grid-template-columns:  700px 400px;
    gap: 400px;
}

.handle-container {
    display: grid;
    grid-template-columns: 0.25fr 1fr;
}

.bigger {
    width: 75px;
}

.profile-picture.bigger {
    grid-row: 1 / span 2;
    justify-self: end;
}

.handle-container span {
    justify-self: start;
    padding-left: 1rem;
    line-height: 2rem;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
}

.buttons-container button {
    width: 100px;
    height: 40px;
    background-color: rgb(63, 119, 224);
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 0;
}

main {
    background-color: rgb(240, 240, 240);
}